# Erik-VPN: VLESS + Reality
# Конфигурация согласно официальной документации:
# https://github.com/MHSanaei/3x-ui/wiki/Installation#docker-recommended

services:
  3xui:
    image: ghcr.io/mhsanaei/3x-ui:latest
    container_name: erik-vpn
    volumes:
      # Данные 3X-UI (БД, конфигурации)
      - ./data/3x-ui:/etc/x-ui/
      # SSL сертификаты (если понадобятся)
      - ./cert:/root/cert/
    environment:
      # Официально поддерживаемые переменные:
      # https://github.com/MHSanaei/3x-ui/wiki/Configuration#available-environment-variables
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
    tty: true
    # КРИТИЧНО: используем host network для корректной работы Reality
    network_mode: host
    restart: unless-stopped
